<h2 class="container">
      <b>Your Patient note has been saved.<br>
        Please await the proctor's instructions.</b>  
</h2>
<!-- [disabled]="(Linecount>=15)?true:false" (ngModelkeyup)="(Linecount>=15)?limitText($event):''" (input)="(Linecount>=15)?'':disableTextbox" [readonly]="(Linecount>=15) ?true:false" on-keypress="(Linecount>=15) ? onKeyPress($event): ''"-->

<!-- 
    <form class="form-group">
        <textarea    class="form-control"  id="ta"  name="textcomments" ng-trim="false"  ngModel="myTextcommants" cols="70"  rows="2" maxlength=" 950" wrap="virtual"
      (ngModelChange)="(Linecount>=15)? '' :textchg($event)" > </textarea>

    <textarea   #myTxt class="form-control"  id="ta"  name="textcomments" ng-trim="false"  [(ngModel)]="myTextcommants" cols="70"  rows="2" maxlength=" 950" wrap="virtual"
      (ngModelChange)="(Linecount>=15)? '' :textchg($event)" > </textarea>
    <p class="form-control">Characters:{{myTextcommants.length}}/{{myTxt.getAttribute('maxlength')}} Line:{{Linecount}}/15</p>
    <button class="form-control btn-primary" (click)="textenable()">Edit</button>
    <p id="lines">{{myTextcommants.length}}</p>


  </form>
 -->
<!-- <input type="text"  [ngModel]="range" (ngModelChange)="saverange($event)"/>
<p >{{list}}</p> -->
