<section class="exa_content">
<h1 class="bg-primary">
        Opening Scenario
</h1>
<p>
        John Miller, a 20-year-old male, has come to the student health clinic reporting knee pain.
</p>
<h1 class="bg-primary">
        Vital Signs
</h1>
<p >
    <b>Temperature:</b>98.8°F (37.1°C)<br><br>
    <b>Blood Pressure:</b>120/76 mm Hg<br><br>
    <b>Heart Rate:</b>78/min<br><br>
    <b>Respirations:</b>15/min<br><br>
</p>
<h1 class="bg-primary">
        Instructions
</h1>
    <ol type="1">
        <li>Obtain a history pertinent to this patient's problem.</li>
        <li>Perform a relevant physical examination (Do not perform a breast, pelvic/genital, corneal reflex, or rectal examination).</li>
        <li>Discuss your impressions and any initial plans with the patient.</li>
        <li>After leaving the room, complete your patient notes on the given form or computer.</li>
    </ol>
</section>
