
<strong>PHYSICAL EXAMINATION:</strong>
<p >
        Describe any positive and negative findings relevant to this patient's problem(s). Be careful to include only those parts of examination you performed in this encounter.
</p>

<!-- <form class="form-group"> -->

<!-- <textarea   #myTxt class="form-control"  name="textcomments" maxchars  maxrows maxcols id="ta" [(ngModel)]="myTextcommants" cols="70" rows="7"  maxlength="950"> </textarea>
<p class="form-control">{{myTextcommants.length}}/{{myTxt.getAttribute('maxlength')}}</p> -->

<!-- <textarea class="txtBig text defaultColor" (click)="onChange()"  id="txtComments" name="txtComments" cols="70" rows="7" maxrows="15" maxchars="950" wrap="virtual" spellcheck="false" ></textarea> -->

<!-- </form> -->